

body, html{
    height: 100% !important;
    width: 100% !important;
    padding: 0;
    margin: 0;
}


.relative{
    position: relative;
}

.dko-modal{
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.dko-modal.show{
    display: block;
}

.dko-content{
    padding: 0 0 0 0;
    background-color: white;
    max-width: 900px;
    margin: auto;
    border-radius: 8px;
    transform: translateY(-3000px);
    transition: 200ms;
}

.dko-content.shown{
    transition: 200ms;
    transform: translateY(0);
}

.dko-body{
    max-height: 60vh;
    overflow-y: auto;
    padding: 10px;
}

.dko-footer{
    padding: 15px;
    text-align: end;
}

.dko-title{
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 28px;
}